{% extends 'dms/base_messages.html' %}

{% block head %}

<style>
    /* Hide the default 'x' icon on input[type="search"] */
    input[type="search"]::-webkit-search-cancel-button {
        display: none;
    }
  
    input[type="search"]::-ms-clear {
        display: none;
    }
  
    input[type="search"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
  </style>
{% endblock %}



{% block title %}
Messages
{% endblock %}



{% block body %}


<div class="container mt-4">
    <div class="mb-3 position-relative">
        <input type="text" id="users_search" class="form-control" placeholder="Search users by name..." oninput="searchUsers()">
        <div id="users_results" class="dropdown-menu position-absolute" style="max-height: 200px; overflow-y: auto; display: none;"></div>
            <input type="hidden" id="user_id" name="user_id"> <!-- Hidden input for storing the selected user ID -->
        <p class="text-danger" id="user_error" style="display: none;">No users found.</p>
     </div>

    <div class="message_holder"></div>
    
    
    
    <form action="" method="POST">
      <input type="text" class="message" placeholder="Messages"/>
      {% if user.is_authenticated %}
        <input type="hidden" class="username" value="{{ user.name }}">
      {% endif %}
      <input type="submit"/>
    </form>
    {% if messages %}
        <div>
            {% for message in messages %}
                <div>
                    <span>Text {{ message.message }}</span>
                </div>
            {% endfor %}
        </div>
        <!-- Pagination - Outside of messages cards grid -->
        <div class="row mt-4">
            <div class="col">
                {% block pagination %}
                    {{ super() }}
                {% endblock pagination %}
            </div>
        </div>
    {% else %}
        <div class="alert alert-info text-center" id="no-messages">
            No messages found.
        </div>
    {% endif %}
</div>

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript">
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on( 'connect', function() {
      socket.emit( 'my event', {
        data: 'User Connected'
      } )
      var form = $( 'form' ).on( 'submit', function( e ) {
        e.preventDefault()
        let user_name = $( 'input.username' ).val()
        let user_input = $( 'input.message' ).val()
        socket.emit( 'my event', {
          user_name : user_name,
          message : user_input
        } )
        $( 'input.message' ).val( '' ).focus()
      } )
    } )
    socket.on( 'my response', function( msg ) {
      console.log( msg )
      if( typeof msg.user_name !== 'undefined' ) {
        $( 'alert alert-info text-center' ).remove()
        $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
      }
    })
  </script>
{% endblock %}
<!-- end of the block body -->
{% endblock %}