{% extends 'dms/base_messages.html' %}

{% block head %}
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

<style>
    /* Hide the default 'x' icon on input[type="search"] */
    input[type="search"]::-webkit-search-cancel-button {
        display: none;
    }
  
    input[type="search"]::-ms-clear {
        display: none;
    }
  
    input[type="search"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
  </style>
{% endblock %}



{% block title %}
Messages
{% endblock %}



{% block body %}


<div class="container mt-4">
    <div class="container-fluid mb-4">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <div class="search-container position-relative me-2 flex-grow-1">
                        <input type="search" 
                               class="form-control" 
                               id="messageSearch" 
                               placeholder="Search messages" 
                               {% if request.args.get('search') %}
                               value="{{ request.args.get('search') }}"
                               {% endif %}>
                        <i class="fas fa-search position-absolute end-0 top-50 translate-middle-y me-3"></i>
                    </div>
                    <button id="removeFilters" 
                            class="btn btn-danger" 
                            title="Remove Filters" 
                            style="display: none;">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    {% if messages %}
        <div>
            {% for message in messages %}
                <div>
                    <span>Text {{ message.message }}</span>

                    
                </div>
            {% endfor %}
        </div>
        <!-- Pagination - Outside of messages cards grid -->
        <div class="row mt-4">
            <div class="col">
                {% block pagination %}
                    {{ super() }}
                {% endblock pagination %}
            </div>
        </div>
    {% else %}
        <div class="alert alert-info text-center">
            No messages found.
        </div>
    {% endif %}
</div>

{% block scripts %}
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });
</script>
{% endblock %}
<!-- end of the block body -->
{% endblock %}