{% extends 'index.html' %}


{% block title %}
Company Login
{% endblock %}

{% block body %}
    <h1>Login</h1>
    <form action="{{url_for('frontend.company_login_post')}}" method="POST">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required minlength="8">
        <div class="field">
            <label class="checkbox">
                <input type="checkbox" name="remember">
                Remember me
            </label>
        </div>
        <input type="submit" value="Login">
    </form>
    <p>Don't have an account? <a href="/company/register">Register here</a></p>
    <p>Or Register a Professional <a href="/users/register">here</a></p>
{% endblock %}